[2019-04-19 20:21] sahasradude opened #1 "Run-time analysis"
Check how long each method takes to run on different sizes of input: 10, 30, 50 nodes

[2019-04-19 20:22] amoghpj opened #2 "Curate Boolean models from literature"
Curate 10, 30 and 50 node boolean GRN models, use our code to generate input data that includes ExpressionData.csv (a gene by cell matrix) and pseudotime ordering of cells.

[2019-04-19 20:24] amoghpj opened #3 "Synthetic Datasets (dynverse networks)"
Synthetic Datasets (dynverse networks)

[2019-04-19 20:31] amoghpj opened #4 "GRN ground-truth datasets"

[2019-04-19 20:31] amoghpj opened #5 "Experimental single cell expression datasets"
- [x] THP1
  - Currently uses the expression of only the 45 TFs in the evaluation network. What if we used the expression of all genes?
- [x] mESC (SCODE)
- [x] hESC (SCODE)
- [ ] mES-PE (SCODE)
- [ ] zHSC (GRNVBEM)
   - Differential expression
- [ ] mES-retinoic (SCINGE)
- [ ] mRetina (GRNBoost2, GENIE3)
- [ ] mHSC (SCRIBE)
  - No processed files available
- [ ] mDC LEAP
  - No processed files av

[2019-04-19 20:31] amoghpj opened #6 "Add analysis on network structures provided by dynverse"

[2019-04-19 20:32] sahasradude opened #7 "Analysis of network motifs"
Look for motifs specific to cell differentiation (like the one described  in: "https://www.nature.com/articles/nature08533#gene-regulatory-networks-and-cell-fate-attractors"

[2019-04-19 20:35] adyprat opened #8 "Comparison of outputs from different methods."
PCA or tSNE on the adjacency matrix (converted to a "vector").

[2019-04-19 20:37] adyprat opened #9 "Analysis of outputs from different methods"
- Plot distribution of weights from the rankedEdges.csv file

[2019-04-19 20:39] adbharadwaj opened #10 "Setup EC2 instance with a webserver"

[2019-04-19 20:39] adbharadwaj opened #11 "Create mock-up of front-end interface."

[2019-04-19 20:39] adbharadwaj opened #12 "List website user operations"

[2019-04-19 20:39] adbharadwaj opened #13 "Figure out licensing of individual software used in the evaluation pipeline and check if they are GPL3 compatible?"

[2019-04-19 20:44] sahasradude opened #14 "Debug/Document the code"

[2019-04-19 21:03] jlaw9 opened #15 "Perform systematic parameter searches for each algorithm"
- [x] LEAP
- [x] GRISLI
- [x] SCINGE
- [x] SCODE
- [x] SCRIBE
- [x] SINCERITIES

[2019-04-20 21:07] adyprat opened #16 "Add a new repository for evaluation/post hoc analysis, call it RNEval or something for now."

[2019-04-20 21:28] #3 closed, assigned to amoghpj

[2019-04-23 02:03] amoghpj opened #17 "Handling nodes without incoming edges in bool models"
There are two issues:
- [x] The script needs to be modified to accept a list of input states to handle inputs to simulations. This will need some work.
- [x] Currently, the script adds a self edge to nodes without any incoming edge. The user should be notified of which nodes are being handled in this manner. (Fixed in https://github.com/Murali-group/BoolODE/commit/2913a8ee8a94f102241ab76ade9f9a4be

[2019-04-23 03:57] adyprat opened #18 "Evaluate edges by treating them as undirected."

[2019-04-23 16:26] #18 closed, assigned to adyprat

[2019-04-23 16:39] #17 closed, assigned to nobody

[2019-04-23 17:25] #16 closed, assigned to tmmurali

[2019-04-26 19:24] jlaw9 opened #19 "Visualization of reconstruction of wiring diagrams"
Color edges by the number of methods that recovered them. Post to GraphSpace.
Use as many edges from the ranked list in the reconstruction as are in the original wiring diagram.

[2019-04-26 19:39] jlaw9 opened #20 "Compute a stability score for outputs from each dataset"
Compute spearman's rank correlation for each pair of datasets.

[2019-05-08 15:00] tmmurali opened #21 "Read each paper for best practices suggested by authors"
We should read each paper carefully to check that we are following the best practices suggested by the authors, if there are any. Use this issue to record what we read.

[2019-05-10 00:41] amoghpj opened #22 "Demonstrate performance difference between dynverse models and GNW output"
We have shown that GNW output does not display the any meaningful qualitative structure (like linear or bifurcating trajectories) for a given Dynverse network. This is our argument for using the dynverse and literature curated models in order to see "meaningful" trajectories. However, we have not yet demonstrated that giving the network inference methods such biologically interpretable trajectorie

[2019-05-21 17:24] #2 closed

[2019-05-21 17:24] #22 closed

[2019-05-21 17:25] adyprat opened #23 "Add updated documentation"
Add updated documentation for using BEELINE.

[2019-05-21 17:26] #20 closed

[2019-05-21 17:26] #14 closed

[2019-05-21 17:27] #7 closed

[2019-05-21 17:27] #1 closed

[2019-07-10 10:01] cflerin opened #24 "Error in inputPath derivation in runner scripts"
Hi,

Thanks for the interesting package and collection of GRN methods!  I ran into the following error when trying to run the `eval.py` script on the included sample data:
[code]

It's not clear to me where `RNMethods` is supposed to come from, but I was able to work around this by changing the inputPath derivation in each of the runner files:
[code]

The methods appear to be running on the sample

[2019-07-10 16:21] #24 closed

[2019-07-10 16:34] adyprat commented on #24
Hi Chris,
Thank you for your interest in BEELINE and bringing this issue to our attention. I updated the Runner scripts to avoid using `RNMethods` in 27c5c6d. Let me know if the issue still persists.

`RNMethods` was the name of this repository before we changed it to `Beeline`, so the runner scripts should have ideally reflected the same. In any case, the `inputPath` variable should not have been

[2019-07-25 16:33] jlaw9 opened #25 "Error with Monocle"
In runScribe.R, I'm getting this error at estimateDispersions:
https://github.com/Murali-group/Beeline/blob/master/Algorithms/SCRIBE/runScribe.R#L119

[code]

Looks like this is the line in their code where the problem is happening:
https://github.com/cole-trapnell-lab/monocle-release/blob/7df105006756801a305ff43321b26d289cd6e890/R/expr_models.R#L470
According to this [stack overflow question](htt

[2019-07-25 16:45] tmmurali commented on #25
Which version of Monocle? Will using an earlier version help?

[2019-07-25 16:58] jlaw9 commented on #25
Actually, I realized I hadn't removed the cells with all 0's. After I removed those, Monocle ran with no problems.

And we're using version 2.8.

[2019-07-25 16:58] #25 closed

[2019-08-01 16:09] adbharadwaj commented on #23
Few things that are missing from the documentation are:

- Python version support (3.6)
- User needs to install requirements before running eval.py
- Is there a need for virtualenv? maybe!

[2019-08-09 10:33] rcannood opened #29 "using dynverse/dyngen to simulate the synthetic datasets"
Hey all!

I read your bioRxiv on "Benchmarking algorithms for gene regulatory network inferencefrom single-cell transcriptomic data" and was quite intrigued. I've been toying around with various forms of NI myself, and think that a benchmark for scNI methods is highly warranted.

I read that the synthetic networks are being generated by taking the module networks from dynverse/dyngen, converting t

[2019-08-09 10:43] rcannood opened #30 "bioRxiv Figure 3"
I quite liked Figure 3 from the bioRxiv paper:

![Screenshot from 2019-08-09 12-34-10](https://user-images.githubusercontent.com/553642/62773267-056cde80-baa2-11e9-8eec-86b231838165.png)

I had a few remarks / questions:

* The different plotting styles (pie / circle / square / progressbar) adds no value to the visualization. To me, it seems like the figure would be easier to interpret if the AURO

[2019-08-13 18:50] tmmurali commented on #30
Hi Robert,
  Thanks for your interest in the BEELINE manuscript! We have enjoyed reading the Dynverse paper and been inspired by it.

-  You are right about the shapes. We are moving to uniform shapes in our figures.

- We are also preparing a summary of the results that highlights the areas in which different methods are strong.

[2019-08-13 18:52] tmmurali commented on #29
We did not consider dyngen until now. We will try it out and let you know what we find. SSA is a good alternative to stochastic DEs. Thanks for the suggestion!

[2019-08-14 16:16] #13 closed

[2019-08-14 16:29] tmmurali commented on #12
Not implementing.

[2019-08-14 16:29] #12 closed

[2019-08-14 16:29] tmmurali commented on #11
Not implementing.

[2019-08-14 16:29] #11 closed

[2019-08-14 16:30] tmmurali commented on #23
@amoghpj I think the docs are complete. Can we close this issue?

[2019-08-14 16:31] tmmurali commented on #4
@jlaw9 Can you summarise the three types of ground truth networks we use and close this comment?

[2019-08-14 16:31] tmmurali commented on #10
Not implementing.

[2019-08-14 16:31] #10 closed

[2019-08-14 16:39] jlaw9 commented on #23
Steps to install the required packages is still missing from the documentation

[2019-08-14 16:43] tmmurali commented on #5
I am closing since we have completed the analysis. I am not documenting in this issue which datasets we used. People can read our paper to get the information.

[2019-08-14 16:43] #5 closed

[2019-08-14 16:44] tmmurali commented on #21
We are doing systematic sweeps for all algorithms that have parameters, so closing this issue.

[2019-08-14 16:44] #21 closed

[2019-08-14 16:45] tmmurali commented on #6
Completed. Readers can see the paper for details.

[2019-08-14 16:45] #6 closed

[2019-08-14 16:47] tmmurali commented on #19
@adbharadwaj What is the status? I know we did not use the visualisations in our manucript. Is there are code for this step? If not, we can close this issue. Otherwise, we can consider if it is useful to integrate the code into BEELINE.

[2019-08-14 18:36] jlaw9 commented on #4
We use three types of human and mouse ground truth networks.

1. Non-specific ChIP-seq datasets from RegNetwork, TRRUST, and DoRothEA
2. Cell-type specific ChIP-seq and loss and gain of function datasets from ChEA, ChIP-Atlas and ESCAPE
3. Functional association networks from STRING

Below is the table we included in the paper:

| Sp    | Source                         | #TFs  | #Genes | #Edges

[2019-08-14 18:36] #4 closed

[2019-08-14 20:26] adbharadwaj commented on #19
Unfortunately, we do not have any code for this step.

[2019-08-14 20:26] #19 closed

[2019-08-19 14:53] tmmurali commented on #9
@adyprat Can we close this issue?

[2019-08-19 14:53] tmmurali commented on #8
@adyprat Close this issue?

[2019-08-19 15:20] adyprat commented on #23
I now added the installation steps to initialize.sh. I'm assuming @jlaw9 was referring to PRROC package.

[2019-08-19 15:20] #23 closed

[2019-08-19 15:29] adyprat commented on #9
Yeah, we are no longer looking at this.

[2019-08-19 15:29] #9 closed

[2019-08-22 21:19] adyprat commented on #29
Hi Robercht,
Thank you for your interest in our manuscript. There seems to be some confusion about running GNW, because BoolODE does not run GNW internally. The ODEs generated while running BoolODE are converted to SDE, and it then runs the Euler-Maruyama scheme for the numerical integration of these SDEs as described in our [paper](https://www.biorxiv.org/content/biorxiv/early/2019/06/04/642926.f

[2019-08-23 12:52] rcannood commented on #29
Hey Aditya,

In the benchmark paper we were indeed still using Euler-Maramuya because [GillespieSSA2](https://cran.r-project.org/package=GillespieSSA2) was not optimised enough to run large SSA simulations quickly. The [manuscript](https://www.jstatsoft.org/article/view/v025i12) accompanying [GillespieSSA](https://cran.r-project.org/package=GillespieSSA) is a good introduction to SSA simulation, a

[2019-08-23 13:30] adyprat commented on #29
Hi Robrecht,
Thanks for the detailed explanation and pointers for SSA. I'll try this and get back to you.

[2019-08-27 06:57] Kaiton7 opened #31 "Will you upload Supplementary Section ?"
Hello.
In the paper(https://www.biorxiv.org/content/10.1101/642926v3.full),
 "We simulate these networks using BoolODE, a method we have developed to convert Boolean models into systems of differential equations (Supplementary Section S1)", but I can't see the Supplementary Section1.
So, I cant't know how to create the input data for synthetic network.
I'd like to use the synthetic data which used

[2019-08-28 03:59] Kaiton7 commented on #31
Dear Aditya
Thank you so much. I see now.
And I think I've learn a lot.
In this page:(https://zenodo.org/record/3378976), there are dyn-LL-100-1, dyn-LL-100-2,... dyn-LL-100-10. I think each of files are independently and each of them can be used for evaluation independently.
So, which file did you use for evaluation in your paper??
Thank you.
Kaito

[2019-08-28 04:27] Kaiton7 commented on #31
Thank you so much for your prompt reply.
I understand it.
I'm quite interested in this experiments.
Thank you.
Best Regards
Kaito

[2019-08-28 04:29] #31 closed

[2019-09-20 23:58] Kaiton7 opened #32 "Does this program consider edge's direction when calculate roc_curve?"
Hello. Thank you for answering my question before.

Please teach me whether the program consider the edge's direction or not in calculating roc_curve .
In /BLEval/computeDGAUC.py line221, I can see the only 1 or 0 in the dataframe (outDF["TrueEDges"]).
but in the paper(https://www.biorxiv.org/content/10.1101/642926v3.full#ref-10) about the Synthetic data it shows that there are activation and repr

[2019-09-23 19:34] adyprat commented on #32
Hi @Kaiton7,

The computeDGAUC.py considers edge direction by default (i.e., whether edge is from a -> b vs. b -> a). The effect of `directed = True` flag can be seen in lines 148-156 in https://github.com/Murali-group/Beeline/blob/master/BLEval/computeDGAUC.py. The length of outDF changes depending on whether the evaluation considers edge directions, i.e., outDF has (n*(n-1)) edges if directed =

[2019-09-24 00:27] Kaiton7 commented on #32
Thank you for this information.
I see and sorry I made mistake. I mean sign of edge not direction.
Do you have any  plans to adapt this program for sign of edge in evaluation of algorithm??
Thank you so much!!

[2019-09-29 15:17] adyprat commented on #32
Hey @Kaiton7,
Our current analysis on signed edges is limited to early precision, but we will consider adding this in the future. Any contributions are welcome.
-Aditya

[2019-10-03 21:52] atuldeshpande opened #33 "Improving SINGE compatibility"
Hi All,
Thanks for using SINGE (rebranded from SCINGE) in this paper. We read your paper recently, and some of the benchmarking figures are visuall very appealing. We have been updating SINGE quite a lot in the past couple of months, and wanted to update you on the same.
In the recent versions, we have also added guidance about parameter combinations and ensembling. This includes an updated defaul

[2019-10-03 22:08] tmmurali commented on #33
Hi Atul,
  Nice to get your feedback. We will be glad to coordinate with you and update the version of SINGE. Please work with @adyprat on this. I have two questions/notes:

1. Has the spelling of your method changed from SCINGE to SINGE? If so, we will need to update our paper.
2. We have implemented a few ensemble approaches, including the approach you used. That code is in a branch and will be

[2019-10-03 22:25] atuldeshpande commented on #33
Thanks.
1. Yes, the spelling has indeed changed to SINGE now. We have been propagating these spelling changes wherever we can.
2. That's interesting. For methods like SINGE which have the ensembling in the default workflow, do you perform two levels of ensembling in these tests?

[2019-10-03 23:25] tmmurali commented on #33
Thanks. We will update in our paper.

We did a parameter search to optimise the AUPRC or early precision, rank SINGE with these parameter values, and then used the results in the ensemble. So there was only one level of ensemble. @adyprat Please correct me if I am wrong.

[2019-10-10 23:48] atuldeshpande commented on #33
So if I understand correctly, you choose the best performing hyperparameter for SINGE and then do the ensemble approach?
Our approach to SINGE ensembling is slightly different. Our belief is that even the best hyperparameter only sees a partial, inaccurate network. The steps involving hyperparameter ensemble and the SINGE_Aggregate function (was called Modified Borda Aggregation in v0.1.0) aim to

[2019-10-11 02:03] adyprat commented on #33
Hi @atuldeshpande,

Thank you for getting back to us. I'm currently trying to integrate the latest version of SINGE into BEELINE. However, I ran into some [issues](https://github.com/gitter-lab/SINGE/issues/41) getting the Docker image working. Could you please help me with that?

Thanks,
-Aditya

[2019-10-11 11:42] agitter commented on #33
@adyprat thanks for looking at the work-in-progress Docker image.  We can help with troubleshooting in your new issue https://github.com/gitter-lab/SINGE/issues/41.

Thanks for your willingness to help propagate the SINGE name change as well.  The name change generates confusion but was in response to a specific reviewer request.

[2019-10-15 16:16] adyprat commented on #33
Our approach to SINGE ensembling is slightly different. Our belief is that even the best hyperparameter only sees a partial, inaccurate network. The steps involving hyperparameter ensemble and the SINGE_Aggregate function (was called Modified Borda Aggregation in v0.1.0) aim to combine multiple partial, inaccurate networks to try and rank the more consistently seen edges higher than the less frequ

[2019-10-15 20:40] atuldeshpande commented on #33
Hi @adyprat, thanks for the detailed reply.
I think I understand most of the methodology. Am I right in understanding that the blue box plots in the figure above are for independent models/datasets from the ones used for the optimal hyperparameter search?

[2019-10-16 12:59] tmmurali commented on #33
The blue box plots are from the same datasets that we used for the optimal hyperparameter search.

[2020-01-13 15:45] tmmurali opened #34 "Add scripts to download and preprocess ground-truth networks for experimental scRNA seq-datasets"
These ground-truth networks are not a part of any of our supplemental materials, including Zenodo. We will add scripts to download and pre-process them.

[2020-02-04 15:54] agitter commented on #33
@adyprat @tmmurali we recently [released ](https://github.com/gitter-lab/SINGE/releases) version 0.4.0 of SINGE, which is the first version with a complete Docker image.  I wanted to resume our discussion of whether we should try to more fully integrate SINGE with BEELINE.

The primary question is whether you are interested in using the Docker image we build.  I envision that your `Algorithms/SCIN

[2020-02-14 18:23] tmmurali commented on #33
@agitter sorry for the delay in replying.

@adyprat What do you think is the best way to go forward? Can we use their Docker image?

[2020-03-02 18:13] #8 closed

[2020-03-02 18:15] tmmurali commented on #30
Figure 6 in the [BEELINE paper in Nature Methods](https://rdcu.be/b1b3H) addresses this issue.

[2020-03-02 18:15] #30 closed

[2020-03-27 14:32] zrq0123 commented on #34
Hi, All. If there are some progress about the download and pre-process scripts of the scRNA-seq ground-truth networks ? or if it is possible to provide a link to download them?

[2020-03-27 14:49] adyprat commented on #34
@zrq0123
Hi,
There was a licensing issue in making the network data, which has since been resolved. The networks are now available on the same Zenodo link under a new file "BEELINE-Networks.zip" that can be accessed here: https://zenodo.org/record/3701939. I will add the pre-processing scripts to this GitHub repository in the next couple of days and post an update here. Let me know if you have any

[2020-03-27 14:57] zrq0123 commented on #34
@adyprat Thanks very much, it really helps!

[2020-04-30 22:47] ktakers commented on #33
@agitter

Please see https://github.com/Murali-group/Beeline/commit/bace690fa3ad21221cc434b91b1d1b7d09011063 for the integration of the SINGE Dockerfile and SINGE.sh executable into BEELINE.

Because the input to SINGE.sh for gene expression and psuedotime data are MATLAB matfiles,  BEELINE still needs the equivalent of the previous executable in runSINGE to convert a CSV count matrix to matfiles

[2020-05-30 07:17] sotolm opened #37 "Problems running GRNBoost and GENIE3 on the example data"
Hello,

I tried running all the methods supported in BEELINE on your example GSD data following the steps you provide in the documentation. I am getting this error for GRNBoost2 and GENIE3:

`
docker run --rm -v /Users/sotolm/Documents/PR-scGRN/Beeline:/data pidc:base /bin/sh -c "time -v -o data/outputs/example/GSD/PIDC/time.txt julia runPIDC.jl data/inputs/example/GSD/PIDC/ExpressionData.csv data

[2020-06-15 00:11] sergio-vasquez537 commented on #37
I have had the same issue, and again the problem only arises for GENIE3 and GRNBOOST2. I created my own virtual environment, using python 2.7, to be able to support pandas 0.22 (the last version I thought was able to support the function as.matrix). After this I changed the requirements.txt file to avoid any conflicts (downgrading rpy, matplotlib and scikit learn to the last versions that supporte

[2020-06-15 01:11] adyprat commented on #37
Hi,
Sorry for the delay in getting back to you. I'll work on pushing an update on this soon. Changing your VM doesn't help since GENIE3 and GRNBoost2 are run inside the Arboreto docker container. You are correct in the reason for the error being that Arboreto is using an older version of pandas, but the change has to be made inside the Docker and **not** in the BEELINE environment. Sp, you'll need

[2020-06-15 07:38] sotolm commented on #37
Hi,

Thanks for your response. I tried downgrading the version of pandas in the Dockerfile but it's incompatible with the versions of other libraries. I installed Arboreto outside Beeline and changed its source code from `.as_matrix` to `.values` and that worked fine for me.

Best,
Larisa

[2020-07-28 08:57] joseale2310 opened #38 "Duplicated rows on refNetwork.csv"
Hi!

I am quite interested in the evaluation of different GRN inference models. However, I have a question. What is the point of having duplicated rows in the refNetwork.csv example file?

For example, the first 3 interactions are duplicated (SOX9 is also autoregulated). Sometimes there are also interactions that appear twice in different order, are the interactions in this file directional and th

[2020-07-28 15:11] adyprat commented on #38
Hi,
We normally take the unique rows in the refNetwork.csv file in BLEval. Since duplicated rows represent the same edge, we remove duplicates while computing AUPRC/Early precision, and so on. As for why some of them are duplicated in the refNetwork.csv file: that file was automatically generated after parsing the Boolean rule for each gene/TF in the GSD model, so if a rule for gene A was A:= (B a

[2020-07-28 15:11] #38 closed

[2020-08-13 22:43] agitter commented on #33
@ktakers thank you for taking the time to update the SINGE version and BEELINE wrapper code.  I can see it was not easy to rewrite the wrappers.  I finally reviewed bace690fa3ad21221cc434b91b1d1b7d09011063 and ba008926a7bb81c0c6013f8582404b545d3fde09 and have a few questions and comments:

- `Algorithms/SINGE/Dockerfile` is using a temporary version of our compiled MATLAB executables. I could make

[2020-08-14 15:51] ktakers commented on #33
@agitter, thank you for following up and reviewing the commits.

Thank you, I updated the Dockerfile to point to v0.4.1: https://github.com/Murali-group/Beeline/commit/487d25eb608bfd90cc59109bd47031a3b12d35a6 .

At this line https://github.com/gitter-lab/SINGE/blob/master/code/iLasso_for_SINGE.m#L56 , values of m.fullKp are written into a copy of the input mat file before a variable declaration fo

[2020-08-14 22:29] agitter commented on #33
@ktakers thanks for the additional details about the mat file v7 issues.  We opened https://github.com/gitter-lab/SINGE/issues/59 and have an idea on how to fix that so Octave can be used to generate the SINGE input files.

[2020-08-18 01:36] AprilYuge opened #39 "An issue of Beeline/Algorithms/SCRIBE/runScribe.R"
Line 122: ordering_genes not defined.

[2020-08-18 14:54] adyprat commented on #39
Could you please provide more information on how you got this error?

[2020-08-18 15:01] AprilYuge commented on #39
When I ran "Rscript runScribe.R -e ./data/SCRIBE_copd_count.csv -c ./data/copd_pseudotime.csv -g ./data/SCRIBE_GeneData.csv -o ./output/SCRIBE -d 5 -l 0 -m ucRDI -x negbinomial.size --outFile copd_out.csv -i", I got an error saying object 'ordering_genes' not found. I looked through runScribe.R and I think the reason is that 'ordering_genes' is not defined before line 122. I checked the documentat

[2020-08-18 15:17] #39 closed

[2020-08-18 15:17] adyprat commented on #39
Ah, I must have missed that. Thanks!

[2020-08-18 15:23] AprilYuge commented on #39
No problem!

[2020-09-03 15:15] ibebio opened #40 "SCODE Docker container failing to build"
Hello,

I encountered the following error when building the SCODE docker container:
[code]

To resolve it, I had to modify Dockerfile to install `gcc-8-base` after running `apt-get update`

[2020-09-21 20:08] Hsu-Che-Wei commented on #40
Hello,

Same problem when trying to build SCNS Docker container.
But this time, installing gcc-8-base after running apt-get update does not solve the problem.
Do you have any idea?

[2020-09-21 22:46] tmmurali commented on #40
@Hsu-Che-Wei can you share the error you get?

[2020-09-21 23:01] Hsu-Che-Wei commented on #40
@tmmurali

(base) raphael830102@beeline-cwh:~/Beeline$ . ./initialize.sh
This may take a while...
sha256:4344a80c7f38d8da9cec73a03c372272f5e6d32a904ba7383ea1a396092e656a
Docker container for ARBORETO is built and tagged as arboreto:base
sha256:367feaae8ca9b603a43d65922960d0c39455517d96e799530d3154b2dcf584d4
Docker container for GRISLI is built and tagged as grisli:base
sha256:55f529fe30035e67a2d82

[2020-09-21 23:02] Hsu-Che-Wei commented on #40
![Uploading Screenshot 2020-09-22 at 01.02.06.png…]()

[2020-09-22 09:44] Hsu-Che-Wei opened #42 "Not able to run example data with most of the algorithm"
Hello,

I followed your instructions and have successfully installed BEELINE. Yet when I run `python BLRunner.py --config config-files/config.yaml`, only two algorithm, PIDC and GRNVBEM are successfully run. The others have error messages such as:

`(BEELINE) raphael830102@beeline-cwh:~/Beeline$ python BLRunner.py --config=config-files/new_config.yaml
Skipping PIDC
Skipping GRNVBEM
Skipping GRNBOO

[2020-09-22 09:46] Hsu-Che-Wei commented on #42
For your convenience, here is the screen shot of the error message.
<img width="1792" alt="Screenshot 2020-09-22 at 11 45 19" src="https://user-images.githubusercontent.com/44936028/93867337-31a8e600-fcc9-11ea-8eaf-73bd6ef6624d.png">

[2020-10-04 17:58] #37 closed

[2020-10-04 18:12] adyprat commented on #42
Hey,
Sorry for the late reply. The GENIE3 and GRNBoost2 errors are because of an issue with Arboreto as discussed here: https://github.com/Murali-group/Beeline/issues/37. I updated the files to fix that issue now.

Looks like most of the SINCERITIES fails due to a recent update to glmnet to 4.0, I fixed this by downgrading it to 3.0 (used at the time of publication). I cannot seem to figure out wh

[2020-10-04 18:12] #42 closed

[2020-10-04 18:54] adyprat commented on #34
Fixed in 83eb494

[2020-10-04 18:54] #34 closed

[2020-10-04 19:30] adyprat commented on #40
Hi @Hsu-Che-Wei,
Looks like your error is not with SCNS, but rather with SCODE docker. I fixed this in 2a5a095
Let me know if this is still an issue.

[2020-10-04 19:30] #40 closed

[2020-10-05 13:06] Hsu-Che-Wei commented on #42
Hello Aditya,

Thanks for the update! I have reinstalled BEELINE, but ran into this Error, seems to do with Aboreto again.
<img width="1792" alt="Screenshot 2020-10-05 at 14 50 24" src="https://user-images.githubusercontent.com/44936028/95082884-063be780-071c-11eb-972e-330c25eb6f63.png">

Do you have any ideas what could cause this?

Thank you!
-Che-Wei

[2020-10-05 13:34] adyprat commented on #42
Hi,
Looks like it is some Arboreto related issue (see [here](https://github.com/tmoerman/arboreto/issues/7)). I did not encounter this issue when I ran it with the new Docker setup yesterday. Perhaps I will need more information than just that error. What OS are you trying to run this on?

Anyway, form what I see it should still run the algorithms and produce an output using a different setup inte

[2020-10-06 14:01] Hsu-Che-Wei commented on #42
Hello,

After reinstall Docker and Anaconda and Beeline from scratch, now it works. All 12 algorithms can be successfully run on the example data.

Thanks a lot.

Best,
Che-Wei

[2020-10-08 21:12] Hsu-Che-Wei opened #43 "Lacking of "Type" in ground truth network"
Hi Aditya,

I would like to ask what if the ground truth network I have does not have "+" (activation) or "-" (repression). Is it still possible to run evaluation process? I only know that there exist regulation relationship between Gene1 and Gene2, but are not sure about the gene pairs interaction type.

Thank you.

Best,
Che-Wei

[2020-10-09 19:18] adyprat commented on #43
Hi,
You should be able to use evaluation script without the Type column; most should work except for signed early precision computation. Let me know if you have any difficulty.
Best,
Aditya

[2020-10-09 19:18] #43 closed

[2020-10-14 14:59] Hsu-Che-Wei commented on #43
Hi Aditya,

When I want to use BLEvaluator.py to estimate AUROC and AUPRC, I found that although there is output files, rankedEdges.csv is missing. Could that because that I didn't finish running the script? I stopped the script when it is running SCRIBE cause it's taking too long (more than 3 days). If that is the case, could you please tell me how can I generate rankedEdges.csv for the rest of t

[2020-10-20 18:00] adyprat commented on #43
You're right. If you abort an algorithm, it does not create a rankedEdges.csv file. In order to avoid running an algorithm, you can set "should_run: [False]" in the config.yaml file. Hope that helps.

[2021-02-05 12:28] Zengggg opened #44 "Not able to run some algorithms"
Hi,
     I have successfully installed all the images, but I have some problems when I run BLRunner.py with 'should_run = [True]' for SCRIBE, GRISLI, SINGE, GRNVBEM, GENIE3 and GRNBOOST2. The problems are presented in the images. I do not know how to solve them. Hope that you can give me some advice. Thank you very much!
Best,
Yanping
![genie3 grnboost2-1](https://user-images.githubusercontent.com

[2021-02-05 18:42] tmmurali commented on #44
@Zengggg thank you for this report. Can you cut and paste the text of the command line output rather than attaching screenshots. It will help if you can post the output for one algorithm in each individual reply to this message.

Some of the errors look like permissions issues for a shell script. For example, for SINGE, have you tried changing the permissions for SINGE.sh so that it can be execute

[2021-02-06 04:28] Zengggg opened #45 "Not able to run SCRIBE"
Hi,
     I reinstalled BEELINE, and it seems that BEELINE has been installed successfully. The command line output is as below:

[code]

when I try to run 'python BLRunner.py --config config-files/config.yaml' for SCRIBE, it output an error, the command line output is as below:

[code]

[2021-02-06 05:24] Zengggg opened #46 "Not able to run GENIE3 and GRNBOOST2"
Hi,
When I try to run GENIE3 and GRNBOOST, it outputs  an error: AttributeError: 'DataFrame' object has no attribute 'to_numpy'. The command line output is as below:

[code]

[2021-02-06 05:31] Zengggg commented on #44
@tmmurali Can you tell you tell what SINGE.sh exactly is? I look at all files under the dicretory */BLRun/, and singeRunner.py and grisliRunner.py both has a permission 'rw-rw-r--'.

[2021-02-06 16:44] adyprat commented on #45
Looks like it is an issue with monocle installation in the Docker with bioconductor, which seems to have been updated recently. I'll push an update that sets it up to use an older version of monocle as in the original paper.

[2021-02-06 16:45] adyprat commented on #46
This seems to be related to an earlier issue posted here: https://github.com/Murali-group/Beeline/issues/37 . Could you double check the pandas version inside the arboreto docker and post it here to it will be easier for me to check the issue.

[2021-02-06 17:10] adyprat commented on #44
Hi @Zengggg ,

I think the permission issue regarding the other algorithms is because user running the docker is unable to write output to your current folder/ cannot access the time command. I pushed an update for SINGE, GRISLI, GRNVBEM on to the master branch that fixes this issue. Please rebuild your docker files for these algorithms and re-run them. Let me know if you  are still having issues

[2021-02-06 17:10] #44 closed

[2021-02-06 17:26] adyprat commented on #46
For reference the pandas version as set-up in the Docker should be 0.24; as in line #10 in https://github.com/Murali-group/Beeline/blob/master/Algorithms/ARBORETO/Dockerfile

[2021-02-07 08:39] Zengggg commented on #46
Thanks for your help! I follow your instruction to change the pandas version, then it runs successfully. Thank you!

[2021-02-07 22:23] adyprat commented on #45
Hi,

So looks like the BiocManager no longer points to the older version of monocle. That said, I have always had trouble setting up Dockerfile to point to appropriate R libraries (it should be using monocle 2 instead of 3, which is the default now).

Fortunately, a work around to this issue is to use an existing docker image instead of building one from Dockerfile, which is now available on Docke

[2021-02-07 22:23] #45 closed

[2021-02-07 22:23] #46 closed

[2021-02-07 23:07] adyprat opened #47 "Use Docker hub image for algorithms, instead of building from Dockerfile"
Building docker images from Dockerfile no longer works easily. There are several reasons for this:

1. Possibly the biggest reason: installing older versions of software using biomanager in R not easy (or at least unclear to me)! Many algorithms built in R are bound to fail eventually due to a lack of easy way to specify the version of the dependencies used. Moreover, many new builds can fail even

[2021-02-08 02:34] #47 closed

[2021-02-08 02:45] adyprat commented on #45
Hey @Zengggg ,
I updated all the scripts under BLRun/ to pre-built Docker images. Please use the updated version and let me know if you still have any trouble running  the algorithms. You don't have to run `. initialize.sh` to build docker images locally anymore either.
Best,
-Aditya

[2021-02-11 08:44] Zengggg commented on #45
Thank you very much! I can run it successfully now.

[2021-02-15 04:39] Oakento opened #48 "BLRunner stuck on "OSError: Timed out trying to connect to 'inproc://172.17.0.2/10/1'" while running arboreto"
Hi,
I was trying to run [grnbeeline/arboreto:base](https://hub.docker.com/r/grnbeeline/arboreto) through BLRunner.py as the following command.
[code]
However, an error occurred and the program stuck.
[code]
The error is not stable that there is a probability of the error in different places in multiple attempts.

Additionally, the containers are running under docker's bridge network.

[2021-02-15 18:06] adyprat commented on #48
Hi,
The program should run despite that "tornado application error" inside the docker. According to the authors of Arboreto, you can ignore those errors (https://github.com/aertslab/arboreto/issues/10).
So long as the docker is running, the algorithm should be running. I'm assuming you are trying to run GENIE3 on a large-ish dataset (thousands of genes?), which will take a while to complete. If th

[2021-02-15 18:06] #48 closed

[2021-02-24 15:28] calebclayreagor opened #49 "Data availability from paper"
Hello again, I was wondering if you've posted the ground truth networks for the experimental single-cell RNA-seq datasets from the paper anywhere. Thanks for your help!

[2021-02-24 16:42] ktakers commented on #49
Please find the ground truth networks for experimental scRNA-seq data sets in BEELINE-Networks.zip available at https://zenodo.org/record/3701939#.YDZ_PuhKiUk .

[2021-02-24 16:42] #49 closed

[2021-02-27 15:46] agitter commented on #33
@ktakers thanks for reporting the issues with the mat file v7 formatted inputs and file separators in the output directory.  The SINGE [v0.5.0 release](https://github.com/gitter-lab/SINGE/releases/tag/v0.5.0) fixes those bugs.

We're also starting to implement support for running SINGE with plain text inputs instead of mat files, but that didn't make it into this release.

[2021-02-27 17:01] ktakers commented on #33
@agitter Thank you for the updated version.  I will plan to add the new 0.5.0 release to BEELINE, remove the workaround that I had implemented for the mat file v7 issue when running SINGE in BEELINE, and update this issue.

[2021-04-12 07:13] niclaspopp opened #51 "Issues with Beeline on Fedora 27"
Hi all,
I'm trying to run the latest iteration of Beeline using the pre-build Docker container on a Linux Server running Fedora 27. Unfortunately, I'm still running into a few errors even when trying the simple example "GSD" provided in the repository.
First off, from Genie3 and GRNBosst i.e. the arboreto Docker container I'm getting the following error:

`docker run --rm -v /localscratch/home/ies

[2021-04-20 07:15] niclaspopp commented on #51
Thanks a lot for the quick response - much appreciated!

After adding `--user 0` to the Docker and switching to the locally build Docker image, both GRNBoost2 and Genie3 seem to run fine (apart from the error mentioned in #48 which is apparently unrelated to the previous problem).

After some investigation I think that the pipeline always stops when performing the inference with SCODE. It seems th

[2021-04-20 13:46] adyprat commented on #51
I'm trying to understand the issue with SCODE here: Is the permission issue arising within Docker? If so, have you tried removing the SCODE folder from the ouputs before running the algorithm? As far as I remember the mkdir command is run as a system command (see the source code [here](https://github.com/hmatsu1226/SCODE/blob/d481cd807b9b44e8148d540cdac15cbcae159478/run_R.rb))) and if the folder e

[2021-04-21 07:11] niclaspopp commented on #51
The algorithm is started without an existing SCODE folder in the outputs directory, so the `‘data/outputs/ER/ER_25_100_2/SCODE/0’` folder which produces the error is created correctly but it is impossible to manually remove it afterwards (the error starts like this: `rm: cannot remove 'SCODE/0/out_2/RSS.txt': Permission denied`).

Just to clarify since I couldn't get it to work: How exactly would

[2021-07-22 18:15] lila167 opened #52 "curated datasets"
Hi,

Thank you very much for this tool!!
I am wondering if one can generate the curated datasets (Fig. 3 of your paper) with less noise.

Best

[2021-07-22 20:07] tmmurali commented on #52
Thank you for the feedback @lila167.

@adyprat is there a way to control the noise from a command-line parameter? I couldn't see one after a quick glance.

[2021-07-22 20:30] amoghpj commented on #52
The noise is currently controlled by a hard-coded value in this function https://github.com/Murali-group/BoolODE/blob/b4a752a5ca5087f65d6a58802785b4590c47e29e/BoolODE/simulator.py#L3
@lila167  we chose to hard-code a nominal value for the strength of noise because larger values did not always yield the expected number of steady states. We have not systematically tried varying the noise parameters

[2021-07-22 21:01] tmmurali commented on #52
Thanks for explaining, @amoghpj. Is it worthwhile to make it a command line parameter and add your warnings to the help message that goes with the parameter definition?

@lila167 you can of course change the hardcoded value to whatever you desire.

[2021-07-22 21:14] lila167 commented on #52
Thank you both!! I will give it a try with lower noise level.

[2021-07-23 07:40] lila167 commented on #52
One more question, is there any way to assess a method using "AUPRC ratio" without integrating it into your pipeline?
@amoghpj If you could tell me where in your codes you measure "AUPRC ratio", would be really helpful.
Many thanks.

[2021-07-27 14:59] amoghpj commented on #52
Yes, I think it is a good idea to expose this parameter. I will create a pull request with the additions.

[2021-08-04 15:32] doncarlos999 opened #53 "Running without trueEdges (refNetwork.csv)"
Hi,

Thanks for this great tool.

In your documentation is says that it is possible to run base pipeline without a refNetwork.csv file. However when I try to run:
`python BLRunner.py --config config-files/config_d0.yaml`

I get the following error:
[code]

Any help with this would be greatly appreciated.

Thanks

[2021-08-04 19:34] adyprat commented on #53
Hi @doncarlos999 ,
Apologies for the confusion. You can indeed infer GRNs without needing a rankedEdges.csv file. However, it looks like BLRunner object is initalized with it anyway. While I work on a fix, there are a couple of options:

1) You can create an empty csv file and include it in the config file.
2) Another option is to comment out [line #88 here ]( https://github.com/Murali-group/Beeli

[2021-08-05 12:34] doncarlos999 commented on #53
Great, option 1 fixed the problem for me.

Thanks for the rapid response!

[2021-08-05 12:34] #53 closed

[2021-08-12 13:02] emre-99 opened #54 "docker image"
Hi,
I am doing an internship and my supervisor told me to read your paper and try to compare your results with newer gene regulatory networking algorithms like CellOracle on the same datasets.
The cluster I'm currently working with only supports Singulartiy and not Docker.
But i found out that Singularity is capable of pulling docker images.
After many attempts it always says:
FATAL:   While makin

[2021-08-19 14:59] xPandasx opened #55 "adding new files"
Hi,
I recently downloaded Beeline for my Bachelor thesis and Beeline comes along with example Datasets already which i could calculate.
I wanted to use my own Datasets or from the https://zenodo.org/record/3701939 website.
I wanted to make sure which zip, from the two listed there, i should download and where to implement them or in which files i need to change the exaple datasets with the new one

[2021-08-19 17:04] ktakers commented on #55
Thank you for using BEELINE.  Please download and extract the BEELINE-data.zip file under the root directory for BEELINE, which should populate the input and config-files directories with data and configuration for synthetic, curated, and scRNA-seq benchmarks.  The YAML files under config-files can be used instead of config-files/config.yaml to run the benchmarks for each dataset, for example:

`p

[2021-08-19 17:58] #55 closed

[2021-08-23 14:00] WWXkenmo opened #56 "Nan value in PIDC results"
Hi Beeline team,
   I am currently using your neat pipeline, while I have encountered a very wird typo in the rankedEdges.csv file of PIDC results. It seems that on my datasets, the edge weights measured by PIDC is all nan values, like this
![image](https://user-images.githubusercontent.com/24759465/130457894-edf4d258-43d1-42f0-b751-e3497c779415.png)

But! after I used a search algorithm developed

[2021-08-23 19:21] ktakers commented on #56
Thank you for using BEELINE.  I was able to reproduce the NaN error in the PIDC output using your example ExpressionData.txt.  In the PIDC output I see the following error message for NaN edges:

`Gamma distribution failed for Rps3 and Srgn; used normal instead.`

I haven't root caused the error and will continue looking into this.

[2021-08-25 09:38] xPandasx opened #57 "ground truth for example dataset"
Hi,
where do I find the ground truth for the example dataset in your paper?

thank you very much

[2021-09-14 17:34] ktakers commented on #56
I haven't found any issues in the way that BEELINE prepares the input or parses the output from PIDC.  I believe the error is related to a poor fit of the input to gamma or normal distributions, but I haven't identified how this results in NaN values in the output from PIDC.  I recommend following up with the maintainers of PIDC at https://github.com/Tchanders/NetworkInference.jl for further root

[2021-10-25 15:11] #15 closed, assigned to jlaw9

[2021-10-30 23:30] amoghpj commented on #52
I've created a pull request here https://github.com/Murali-group/BoolODE/pull/17/commits/e8835f9bb104f3bf539ab467ad8703371a67a920 . It would be great if someone can test the patch and confirm that the expected behavior.

[2021-11-09 09:47] mahp-scut opened #58 "How to compute the variance of genes using 'gam'."
Hi,
Thank you very much for this tool. I am preprocessing other scRNA-seq dataset following the procedure mentioned in your paper, that is, "We used the general additive model implemented in the ‘gam’ R package to compute the variance and the P value of this variance". However, i don't know how to compute the variance of genes using the ‘gam’ R package. It will be great if you can provide some exa

[2021-11-12 18:39] #58 closed

[2021-11-12 18:41] adyprat commented on #58
The R notebooks for pre-processing experimental scRNA-seq datasets are now under https://github.com/Murali-group/Beeline/tree/master/inputs/scRNAseq_preprocessing. The data sources (for input files) are listed in the notebooks.

[2021-11-13 01:51] mahp-scut commented on #58
Thank you very much for your response!

[2021-11-19 21:59] ekernf01 opened #59 "Test multiple parameters for the same method?"
If I use a configuration file that has, under `algorithms:`, two different settings of some nuisance parameter as below, then it seems that BEELINE will run them both, but will overwrite the previous results on the second time.

[code]

I considered a couple of solutions but both require detailed knowledge of the BEELINE implementation. The script `runPPCOR.R` could be changed to put output in dif

[2021-11-20 17:18] adyprat commented on #59
You're right. While the config file can take in multiple parameters for the same algorithm, for example,

[code]

currently, it overwrites the output files.

Your suggestion for creating multiple names in config file will actually work pretty well, without having to change the Dockerfiles/evaluation scripts.

 Here's what needs to change, assuming underscore is the delimiter between the name and r

[2021-11-20 19:56] ekernf01 commented on #59
Great! Thanks! I will try this and get back to you if I have any trouble.

[2021-11-20 19:56] #59 closed

[2022-01-08 09:13] yarkable opened #60 "Fail to run the code"
Hi, thanks for your framework. But I have some trouble running it, could you please kindly solve this problem?  Thank you very much.

My machine:

CentOS 7, python3.8.8(anaconda)

I've set up my conda env and pulled the docker images locally. As follows:

[code]

I run the command

[code]

but the output is:
[code]

[2022-01-09 16:58] yarkable commented on #60
It seems the cause is my machine. When I use another machine to install this, everything is OK. So I close this issue.

[2022-01-09 17:02] #60 closed

[2022-01-11 21:04] TiamHeydari opened #61 "SCNS ranked edges"
Hi, I am trying to understand the benchmarking of SCNS method. As I understand SCNS gives a single GRN as the fit. How you compare it with other methods?
Thanks

[2022-01-12 22:31] adyprat commented on #61
Hi,

SCNS does not output a single GRN, rather it outputs potential regulatory rules for each gene in a separate text file. Sometimes it predicts over a 100+ possible rules for each gene. These predicted rules may not even have any overlap in the regulators and can even be conflicting in some cases.

For example, if the network comprises of four nodes, A, B, C, and D. Here's what a sample output f

[2022-01-12 23:13] TiamHeydari commented on #61
Hi Aditya,
Thanks very much for the explanation, it makes sense.
Best,
Tiam

[2022-01-12 23:13] #61 closed

[2022-02-15 19:44] semrau opened #63 "Errors when running initialize.sh"
Hi all,

I am trying to create the docker containers on Ubuntu and I get several errors that look like the example attached below. Any suggestions?

Thanks!
Stefan

Step 8/8 : RUN apt-get update && apt-get install time
 ---> Running in ee804488fae1
Get:1 http://deb.debian.org/debian testing InRelease [129 kB]
Err:1 http://deb.debian.org/debian testing InRelease
  **The following signatures couldn'

[2022-02-15 20:42] ktakers commented on #63
I haven't been able to reproduce the error, but it looks like an issue in apt-get.  https://askubuntu.com/questions/13065/how-do-i-fix-the-gpg-error-no-pubkey suggests using apt-key to obtain the key that is not available.  Can you please try running the following before retrying initialize.sh?

`sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 648ACFD622F3D138`
`sudo apt-key adv --ke

[2022-02-18 13:48] semrau commented on #63
Thank you for the suggestion, but that wasn't the solution. Strangely, I only get the error when I run the script. All works fine if I run individual docker commands. BLRunner seems to work fine either way. I guess, newer docker images are downloaded anyway.

[2022-04-03 14:29] michavol opened #64 "BLPlot"
Dear Murali Group,

I am currently writing my Bachelor Thesis on Gene Regulatory Network Inference methods. I was delighted to see your paper, tool, and thorough documentation for benchmarking different algorithms. Thank you for the great work!

I managed to set up everything and run the algorithms. However, I am a bit confused regarding the usage of the BLPlot modules. Precisely, how should one s

[2022-04-11 14:28] jonathan-f opened #65 "Fail to reproduce Fig.5 results for human data"
Hello,
First thanks for your impressive work!

I am facing issues in reproducing the results of Fig.5 of the paper for the human datasets using the STRING ground truth net, while I manage to reproduce the results for the mouse datasets.

1) I used the script generateExpInputs.py, getting the following statistics:

     hHep STRING:  #TFs: 409, #Genes: 656, #Edges: 15046, Density: 0.056
     hESC S

[2022-04-12 23:54] adyprat commented on #65
Hi @jonathan-f,

Thank you for bringing this to our notice. For some strange reason, all the lines in STRING-network.csv are duplicated and the #Edges is 2x / the density is 2x (i.e., EPR is 0.5x) the one you see in Fig 5. While we make changes to generateExpInputs.py to compute the correct number of of edges; please use `len(netDF.drop_duplicates())` instead of `net.shape[0]` to get the correct "

[2022-04-13 00:49] tmmurali commented on #65
@adyprat thanks for looking into this issue. Can we upload the correct version of the STRING network to prevent this issue for recurring again? I presume this file is on Zenodo.

[2022-04-13 08:49] jonathan-f commented on #65
Dear @adyprat , thanks for the swift reply and for finding the error.

Best
Jonathan

[2022-04-13 15:45] ktakers commented on #64
Thank you for using Beeline in your work.  Unfortunately the BLPlot code currently checked into github doesn't produce the plots in the paper.  There are corresponding jupyter notebooks that have yet to be pushed, which I'll work on testing again before uploading.

[2022-05-09 09:22] JaneJiayiDong commented on #65
Hello, sorry for bothering.  I am also facing some issues in reproducing the results of Fig.5 of the paper. I downloaded the data (BEELINE-data and Networks) from Zenodo and used the the generateExpInputs.py.
1. I used the expression data (mESC) and the network(Non-Specific-ChIP-seq-network.csv), and set other parameter as default. The mistake is as follows:
Traceback (most recent call last):
  Fi

[2022-05-10 20:09] shachafl opened #66 "Terminal/system halt when running "python BLRunner.py --config config-files/config.yaml" in the BEELINE conda environment"
Following the quick setup instructions in the main page, my terminal halts with the error message below (I have removed the prior ExpressionData0.csv output as it seems to finish properly).

I am using Anaconda for python 3.9 on Ubuntu 16.04

Any advice is welcome.
____________________________
...
docker run --rm -v /home/lshacha1/Downloads/BEELINE/Beeline:/VBEM/data/ grnbeeline/grnvbem:base /bin/

[2022-05-11 00:48] JaneJiayiDong opened #67 "Some problem of reproducing Fig.5 results"
Hello, sorry for bothering.  I am facing some issues in reproducing the results of Fig.5 of the paper. I downloaded the data (BEELINE-data and Networks) from Zenodo and used the the generateExpInputs.py.
1. I used the expression data (mESC) and the network(Non-Specific-ChIP-seq-network.csv), and set other parameter as default. The mistake is as follows:
[code]
I found that the Gene names in Non-Sp

[2022-05-16 03:29] JaneJiayiDong commented on #67
After my check again, I found that it is just a simple error. If the following modifications are made, we can get the same results as the Fig 5.
[code]

[2022-05-22 14:41] michavol commented on #64
I understand, thank you for the response!

[2022-05-26 15:12] tmmurali opened #68 "Make BEELINE installable through a Docker image"
For the ISMB 2022 tutorial on single-cell GRN inference, it will be useful if attendees can install BEELINE using a Docker image. With such an image, attendees will not have to spend time troubleshooting the installation of BEELINE.

[2022-06-02 02:36] shachafl commented on #66
I have also tried to build the containers from scratch using: . initialize.sh
But this also resulted in a terminal halt and errors (below):
---------------------------------------------------
docker run --rm -v /home/lshacha1/Downloads/BEELINE/Beeline:/data/ --expose=41269 grnbeeline/arboreto:base /bin/sh -c "time -v -o data/outputs/example/GSD/GENIE3/time.txt python runArboreto.py --algo=GENIE3 -

[2022-06-16 16:29] blessyantony9 opened #69 "Docker image for BEELINE with quickstart config"
Algorithms selected for quick demo: PIDC, GRNBOOST2, SCODE, and SCINCERITIES

[2022-06-16 16:34] #69 closed

[2022-06-20 16:12] tmmurali commented on #68
We decided to use a different approach: provide a VirtualBox image to the attendees. Docker would have required root permissions for the users.

[2022-06-20 16:12] #68 closed

[2022-06-22 15:20] ktakers opened #71 "BLPlotter center curated overview plot headers"

[2022-06-22 15:21] ktakers opened #72 "Add legend to BLPlotter curated overview plots"
Add a legend with the range of colors used to plot cell values below the overview plot for each of the included metrics.

[2022-06-22 16:03] ktakers opened #73 "Correct BLPlotter cell text in curated overview plot"
Cell text values should indicate the highest and lowest values in each column.

[2022-06-22 17:53] ktakers opened #74 "Allow metrics to be selected for curated overview plots in BLPlotter"
Add options to select which metrics (AUPRC, AUROC, EPr, etc.) are plotted for columns in the overview

[2022-06-22 21:09] blessyantony9 opened #75 "False success messages posted after erroneous execution of docker commands in initialize.sh"
docker build -q -t jump3:base .
echo "Docker container for JUMP3 is built and tagged as  jump3:base"

The second line is printed irrespective of the exit status of the preceding docker command.

[2022-06-22 21:25] ktakers commented on #73
https://github.com/Murali-group/Beeline/commit/503bc81ef979cb17d80dcb7988ae872320fed345

[2022-06-22 21:25] ktakers commented on #72
https://github.com/Murali-group/Beeline/commit/503bc81ef979cb17d80dcb7988ae872320fed345

[2022-06-22 21:25] #72 closed

[2022-06-23 16:02] tmmurali commented on #71
@ktakers Can you close this issue now, pointing to your recent commit?

[2022-06-23 16:58] ktakers opened #76 "Upload experimental scRNA-Seq configuration files to Zenodo"
Update the Zenodo repository https://doi.org/10.5281/zenodo.3378975 to include Beeline configuration files for evaluating experimental datasets.

[2022-06-23 17:06] ktakers opened #77 "Implement GRN visualization for evaluated algorithms"
Implement a script to apply a threshold on the ranked edges output by evaluated algorithms to construct a GRN, and output the inferred GRN as a Cytoscape or GraphSpace file for visualization.

[2022-06-26 23:35] blessyantony9 opened #78 "Erroneous message printed during initialization of Beeline"
echo "Docker container for ARBORETO is built and tagged as arboreto:base" message printed even if the corresponding docker build fails. The same applies to all algorithms.

Possible fix: Capture the exit code of the preceding docker build command and print the appropriate success/fail message based on the returned exit code.

[2022-06-26 23:36] #78 closed

[2022-06-26 23:36] blessyantony9 commented on #78
Duplicate issue

[2022-07-01 16:37] ktakers commented on #77
Create GRN tutorial account on GraphSpace.  Upload graph to shared account and make the graph public.  Output a link to a graph.

Create a graph that is the union of the inferred GRN and the ground truth networks that distinguishes between TP/FP/FN edges

[2022-07-09 14:18] dpeng28 commented on #66
Not sure if you resolved this issue or not, but I ran into the similar problem. It seems like the problem in your case is that GENIE3. You can double check if GENIE3 is indeed the problem by making `should_run: [False]` in the config.yaml. If GENIE3 is indeed the only problem, then I would rerun

`BASEDIR=$(pwd)

# You may remove the -q flag if you want to see the docker build status
cd $BASEDIR/A

[2022-07-20 18:13] shachafl commented on #66
Thanks dpeng28.
Disabling Genie3 in the config.yaml helps to run:
python BLRunner.py --config config-files/config.yaml

I have built the ARBORETO docker from scratch but it doesn't solve the
problem with Genie3.

Moving forward, the next command to calculate AUC:
python BLEvaluator.py --config config-files/config.yaml --auc

 also returns error:
Traceback (most recent call last):
  File "/home/lsh

[2022-07-20 21:30] shachafl commented on #66
The problem with python BLEvaluator.py --config config-files/config.yaml --auc
was that my PyYaml was version 6.0 and required the extra "Loader" parameter under yaml.load(), so to fix the code I modified the file BLEval/__init__.py:
config_map = yaml.load(config_file_handle, Loader=yaml.CLoader)

[2022-07-20 22:36] tmmurali commented on #66
Thanks for this report and the fix. @ktakers can we update BLEvaluator.py with this change without breaking compatability with earlier versions of PyYAML?

[2022-07-21 16:28] shachafl commented on #66
You can also raise the backward compatibility issue with the PyYaml team, and they can solve it by rolling back the change or adding defaults.

By using PyYAML==5.4 (instead of 6.0) as you defined in the requirements.txt and BEELINE conda environments the command:
python BLEvaluator.py --config config-files/config.yaml --auc
works fine.

But I am keeping the issue open for now as keeping Genie3 wi

[2022-10-17 13:06] smartpig-666 commented on #48
I encountered the same problem. How did you solve it in the end？

`distributed.comm.inproc - WARNING - Closing dangling queue in <InProc  local=inproc://172.17.0.2/9/1 remote=inproc://172.17.0.2/9/8>
Traceback (most recent call last):
  File "runArboreto.py", line 43, in <module>
    main(sys.argv)
  File "runArboreto.py", line 32, in main
    network = genie3(inDF.to_numpy(), client_or_address =

[2022-11-02 12:13] smartpig-666 commented on #66
I encountered the same problem. When I added the genie3 algorithm, I also reported the same error：

[code]
In addition, I tried to modify the Docker configuration file, but it didn't work

[2022-11-02 13:15] tmmurali commented on #66
Thank you for this report. @ktakers can you take a look at this issue?

[2022-11-02 17:14] ktakers commented on #66
I apologize for the late response.

The tornado timeout appears to be the same issue reported in https://github.com/Murali-group/Beeline/issues/48 and https://github.com/Murali-group/Beeline/issues/42.  According to the Arboreto issue https://github.com/aertslab/arboreto/issues/10 , GENIE3 can run successfully despite those timeout errors.

Unfortunately I wasn't able to reproduce that error.  Can

[2022-11-02 19:28] smartpig-666 commented on #66
You are so kind. Unfortunately, I have been waiting for a long time for genie3 to complete normally , but it cannot generate rankededge.csv file. Now I have reproduced the genie3 algorithm and generated the rankededge separately. Beeline can normally score it

[2022-11-17 15:40] packers12345 opened #84 "Update documentation for BLEvaluator.py"
Add information on the types of files produced by BLEvaluator.py and where they should be located.

[2022-11-21 15:47] tmmurali opened #85 "Add support for running BEELINE on multiple datasets specified implicitly"
At the moment, if we want to execute BEELINE on multiple datasets, e.g., 10 different synthetic datasets created by BoolODE for a GRN, we have to explicitly specific each directory containing a dataset using the `datasets` keyword in a config.yaml file. This step can become painful as the number of datasets becomes large.

BEELINE also looks for the `dataset_dir` keyword in the config.yaml file. S